* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Courier New', Courier, monospace;
  font-size: 17px;
}

body {
  color: #031913;
  background-color: rgb(243, 235, 164);
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 17vh;
  text-align: center;
  color: #02130e;
}

form {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.input-par {
  display: inline-block;
  margin-right: 1rem;
}

.input-num {
  width: 3rem;
  padding: 3px 4px 3px 10px;
  margin-right: 0.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.input-btn {
  padding: 3px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 0.8rem;
  background-color: #3C4F6E;
  cursor: pointer;
  transition: all 500ms ease;
}

.input-btn:hover {
  color: khaki;
  background-color: #3c4f6eda;
}

.texts {
  width: 80%;
  margin: 0 auto;
  line-height: 19px;
  text-align: justify;
}

.text {
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .texts {
    width: 50%;
  }
}